@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/impact.woff2);
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #040404;
}

.big-container{
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}

.container{
    max-width: 920px;
    padding: 0px 10px;
    margin: 0 auto;
}

.header{
    padding-top: 25px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu-left{
    padding-left: 25px;
}

.menu-rigth{
    padding-right: 78px;
}

.menu-list{
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
}

.menu-link{
    color: #363636;
    font-size: 16px;
}

.promo{
    background-image: url(../img/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo__inner{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.title{
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}

.subtitle{
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center;
}

.subtitle span{
    display: block;
    font-size: 34px;
    color: #9F6B08;
    padding: 10px 0px;
}

.promo__text{
    font-size: 16px;
    color: #363636;
}

.promo__arrow{
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;
}

.info{
    margin-bottom: 100px;
}

.info__part{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.info__part--first{
    display: block;
}

.info__part--third{
    padding-top: 66px;
}

.info__title{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.info__part-textbox{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.info__text{
    flex-basis: 440px;
    margin-bottom: 30px;
}

.nfo__part-img{
    object-fit: cover;
}

.info__content{
    flex-basis: 390px;
}

.info__table{
    flex-basis: 450px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
}

.info__table::before{
    content: '';
    border-top: 1px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px;
}

.info__table td{
    padding-bottom: 20px;
}

.track{
    padding-bottom: 90px;
    background-image: url(../img/img04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.track__title{
    padding-top: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.track__text{
    max-width: 435px;
}

.track__img{
    margin: 0 auto;
    display: block;
    margin-top: 220px;
}

.lamba{
    font-size: 14px;
    margin-bottom: 100px;
}

.lamba-black{
    background-color: #363636;
    padding: 100px 0 50px;
    color: #fff
}

.lamba-black__inner{
    position: relative;
}

.lamba-black__inner::before{
    content: '';
    position: absolute;
    background-image: url(/img/pol1.svg);
    width: 185px;
    height: 213px;
    top: 200px;
    left: -130px;
}

.lamba-black__inner::after{
    content: '';
    position: absolute;
    background-image: url(/img/pol2.svg);
    width: 498px;
    height: 572px;
    top: 290px;
    left: -38px;
}

.lamba-black__info{
    display: flex;
    justify-content: space-between;
}

.lamba-black__title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    padding-right: 50px;
}

.lamba-black__textbox{
    font-size: 14px;
    flex-basis: 437px;
}

.lamba-black__text{
    margin-bottom: 30px;
}

.lamba-black__img{
    display: block;
    margin: 170px auto 60px;
    position: relative;
    z-index: 1;
}

.lamba__descr-list{
    display: flex;
    justify-content: center;
    gap: 0 65px;
    position: relative;
    z-index: 1;
}

.lamba_descr-list dd{
    text-transform: uppercase;
    
}

.lamba-white__inner{
    padding-top: 125px;
    position: relative;
}

.lamba-white__inner::before{
    content: '';
    position: absolute;
    background-image: url(/img/pol3.png);
    width: 274px;
    height: 257px;
    top: -26px;
    left: 364px;
}

.lamba-white__inner::after{
    content: '';
    position: absolute;
    background-image: url(/img/pol4.png);
    width: 324px;
    height: 311px;
    top: 110px;
    left: 600px;
}

.lamba-white__text{
    margin-bottom: 30px;
}

.lamba-white__text:first-child{
    max-width: 285px;
}

.lamba-white__text:nth-child(2){
    max-width: 437px;
}

.lamba-white__text:nth-child(3){
    max-width: 590px;
}

.lamba-white__video{
    margin-top: 100px;
    background-image: url(../img/img-video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lamba-white__video-link span{
    display: block;
    color: #fff;
}